@model List<ErrorDto>
@{
    ViewData["Title"] = "Thư viện tài khoản";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thư viện tài khoản</span></h4>
        <div>
            <button type="button" class="btn rounded-pill btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModel">
                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Thêm tài khoản</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="addUsername" class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="addUsername" placeholder="Nhập tên đăng nhập" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addPassword" class="form-label">Mật khẩu</label>
                                    <input type="text" class="form-control" id="addPassword" placeholder="Nhập mật khẩu" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addFullName" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="addFullName" placeholder="Nhập họ tên" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="addEmail" placeholder="Nhập email" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addUnit" class="form-label">Đơn vị</label>
                                    <input type="text" class="form-control" id="addUnit" placeholder="Nhập đơn vị" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addImage" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="addImage">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleAddUser()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Sửa tài khoản</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="editUsername" class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="editUsername" placeholder="Nhập tên đăng nhập" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editFullName" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="editFullName" placeholder="Nhập họ tên" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editEmail" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="editEmail" placeholder="Nhập email" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editUnit" class="form-label">Đơn vị</label>
                                    <input type="text" class="form-control" id="editUnit" placeholder="Nhập đơn vị" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editImage" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="editImage">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped Rows -->
        <div class="card mt-4">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Đơn vị</th>
                            <th>Ảnh</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="userTableBody">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
@section Scripts {
    <script>
        renderUsersTable();
        function renderUsersTable() {
            getUsers().then(function (data) {
                let html = '';
                data.forEach(item => {
                    html += `
                        <tr>
                            <td>${item.code}</td>
                            <td>${item.fullName}</td>
                            <td>${item.email}</td>
                            <td>NBC</td>
                            <td><img src="~/assets/img/avatars/1.png" alt="Product" style="width: 60px;" /></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                data-bs-target="#editModel">
                                            <i class="bx bx-edit-alt me-1"></i> Sửa
                                        </button>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Xóa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    `;
                });
                $('#userTableBody').html(html);
            });
        }

         function getUsers(){
            return $.get('/UserLibrary/GetUsers');
        }

         function handleAddUser() {
            const username = $('#addUsername').val();
            const password = $('#addPassword').val();
            const fullName = $('#addFullName').val();
            const email = $('#addEmail').val();
            const unit = $('#addUnit').val();


            const userData = {
                code: username,
                password,
                confirmPassword:password,
                fullName,
                email
            };

        addUser(userData).then(function (res) {
                $('#addModel').modal('hide');
                renderUsersTable(); // ✅ chỉ gọi sau khi update thành công
            }).catch(function (err) {
                console.error(err);
                alert('Có lỗi xảy ra khi cập nhật');
            });
        }

        function addUser(userDto){
            console.log('đã vào');
            return $.ajax({
                url: '/UserLibrary/AddUser',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userDto)
            });
        }
    </script>
}