@model List<ErrorDto>
@{
    ViewData["Title"] = "Thư viện tài khoản";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thư viện tài khoản</span></h4>
        <div>
            <button type="button" class="btn rounded-pill btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModel">
                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Thêm tài khoản</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="addUsername" class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="addUsername" placeholder="Nhập tên đăng nhập" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addPassword" class="form-label">Mật khẩu</label>
                                    <input type="text" class="form-control" id="addPassword" placeholder="Nhập mật khẩu" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addFullName" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="addFullName" placeholder="Nhập họ tên" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="addEmail" placeholder="Nhập email" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addUnit" class="form-label">Đơn vị</label>
                                    <input type="text" class="form-control" id="addUnit" placeholder="Nhập đơn vị" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addImage" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="addAvatarFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleAddUser()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Sửa tài khoản</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <input type="text" class="form-control" id="editUserId" placeholder="ID" aria-describedby="defaultFormControlHelp" hidden>
                                <div class="mb-2">
                                    <label for="editUsername" class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" id="editUsername" placeholder="Nhập tên đăng nhập" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editFullName" class="form-label">Họ tên</label>
                                    <input type="text" class="form-control" id="editFullName" placeholder="Nhập họ tên" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editEmail" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="editEmail" placeholder="Nhập email" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editUnit" class="form-label">Đơn vị</label>
                                    <input type="text" class="form-control" id="editUnit" placeholder="Nhập đơn vị" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editAvatarFile" class="form-label">Ảnh</label>
                                    <input class="form-control" type="file" id="editAvatarFile">
                                    <input class="form-control" type="text" id="editAvatarUrl" hidden>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleEditUser()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped Rows -->
        <div class="card mt-4">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Đơn vị</th>
                            <th>Ảnh</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="userTableBody">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
@section Scripts {
    <script src="~/js/page-handle/user-library.js"></script>
    <script src="~/js/request/user-request.js"></script>
}