@model List<SolutionDto>
@{
    ViewData["Title"] = "Thư viện hướng xử lý";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thư viện hướng xử lý</span></h4>
        <div>
            <button type="button" class="btn rounded-pill btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModel" onclick="addShowSolutionModalHandle()">
                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Thêm hướng xử lý</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="addErrorCodeSelect" class="form-label">Mã lỗi</label>
                                    <select class="form-select" id="addErrorCodeSelect" aria-label="Default select example">
                                        <option selected="">Chọn mã lỗi</option>
                                        <option value="A1">A1</option>
                                        <option value="A2">A2</option>
                                        <option value="A3">A3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="addSolutionCause" class="form-label">Nguyên nhân</label>
                                    <textarea class="form-control" id="addSolutionCause" rows="3"></textarea>
                                </div>
                                <div class="mb-2">
                                    <label for="addSolutionHandle" class="form-label">Hướng xử lý</label>
                                    <textarea class="form-control" id="addSolutionHandle" rows="3"></textarea>
                                </div>
                                <div class="mb-2">
                                    <label for="addBeforeImage" class="form-label">Ảnh trước xử lý</label>
                                    <input class="form-control" type="file" id="addBeforeImage">
                                </div>
                                <div class="mb-2">
                                    <label for="addAfterImage" class="form-label">Ảnh sau xử lý</label>
                                    <input class="form-control" type="file" id="addAfterImage">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleAddSolution()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Sửa sản phẩm</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="editErrorCodeSelect" class="form-label">Mã lỗi</label>
                                    <select class="form-select" id="editErrorCodeSelect" aria-label="Default select example">
                                        <option selected="">Chọn mã lỗi</option>
                                        <option value="A1">A1</option>
                                        <option value="A2">A2</option>
                                        <option value="A3">A3</option>
                                    </select>
                                </div>
                                <input class="form-control" type="text" id="editSolutionId" hidden>

                                <div class="mb-2">
                                    <label for="editSolutionCause" class="form-label">Nguyên nhân</label>
                                    <textarea class="form-control" id="editSolutionCause" rows="3"></textarea>
                                </div>
                                <div class="mb-2">
                                    <label for="editSolutionHandle" class="form-label">Hướng xử lý</label>
                                    <textarea class="form-control" id="editSolutionHandle" rows="3"></textarea>
                                </div>
                                <div class="mb-2">
                                    <label for="editBeforeImage" class="form-label">Ảnh trước xử lý</label>
                                    <input class="form-control" type="file" id="editBeforeImage">
                                    <input class="form-control" type="text" id="editBeforeImageUrl" hidden>
                                </div>
                                <div class="mb-2">
                                    <label for="editAfterImage" class="form-label">Ảnh sau xử lý</label>
                                    <input class="form-control" type="file" id="editAfterImage">
                                    <input class="form-control" type="text" id="editAfterImageUrl" hidden>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleEditSolution()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped Rows -->
        <div class="card mt-4">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mã lỗi</th>
                            <th>Nguyên nhân</th>
                            <th>Hướng xử lý</th>
                            <th>Ảnh trước xử lý</th>
                            <th>Ảnh sau xử lý</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="solutionTableBody" class="table-border-bottom-0">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
@section Scripts {
    <script src="~/js/solution-library.js"></script>
    <script src="~/js/request/solution-request.js"></script>
}