@model List<ErrorDto>
@{
    ViewData["Title"] = "Thư viện xưởng";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thư viện xưởng</span></h4>
        <div>
            <button type="button" class="btn rounded-pill btn-primary" data-bs-toggle="modal"
                    data-bs-target="#addModel" onclick="addShowEnterpriseModalHandle()">
                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Thêm xưởng</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="mb-2">
                                    <label for="addUnitSelect" class="form-label">Đơn vị</label>
                                    <select class="form-select" id="addUnitSelect" aria-label="Default select example" onchange="handleSelectUnit(this.value, 'add')">
                                        <option selected="">Chọn đơn vị</option>
                                        <option value="1">Đơn vị 1</option>
                                        <option value="2">Đơn vị 2</option>
                                        <option value="3">Đơn vị 3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="addFactorySelect" class="form-label">Nhà máy</label>
                                    <select class="form-select" id="addFactorySelect" aria-label="Default select example" disabled>
                                        <option selected="">Chọn nhà máy</option>
                                        <option value="1">Nhà máy 1</option>
                                        <option value="2">Nhà máy 2</option>
                                        <option value="3">Nhà máy 3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="addName" class="form-label">Tên xưởng</label>
                                    <input type="text" class="form-control" id="addName" placeholder="Nhập tên xưởng" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="addDescription" class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="addDescription" rows="3" placeholder="Nhập mô tả"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleAddEnterprise()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Sửa xưởng</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <input type="text" class="form-control" id="editId" placeholder="ID" aria-describedby="defaultFormControlHelp" hidden>
                                <div class="mb-2">
                                    <label for="editUnitSelect" class="form-label">Đơn vị</label>
                                    <select class="form-select" id="editUnitSelect" aria-label="Default select example" onchange="handleSelectUnit(this.value, 'edit')">
                                        <option selected="">Chọn đơn vị</option>
                                        <option value="1">Đơn vị 1</option>
                                        <option value="2">Đơn vị 2</option>
                                        <option value="3">Đơn vị 3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="editFactorySelect" class="form-label">Nhà máy</label>
                                    <select class="form-select" id="editFactorySelect" aria-label="Default select example" disabled>
                                        <option selected="">Chọn nhà máy</option>
                                        <option value="1">Nhà máy 1</option>
                                        <option value="2">Nhà máy 2</option>
                                        <option value="3">Nhà máy 3</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label for="editName" class="form-label">Tên xưởng</label>
                                    <input type="text" class="form-control" id="editName" placeholder="Nhập tên xưởng" aria-describedby="defaultFormControlHelp">
                                </div>
                                <div class="mb-2">
                                    <label for="editDescription" class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="editDescription" rows="3" placeholder="Nhập mô tả"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                                <button type="button" class="btn btn-primary" onclick="handleEditEnterprise()">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped Rows -->
        <div class="card mt-4">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Đơn vị</th>
                            <th>Nhà máy</th>
                            <th>Tên xưởng</th>
                            <th>Mô tả</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="enterpriseTableBody">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
@section Scripts {
    <script src="~/js/enterprise-library.js"></script>
    <script src="~/js/request/enterprise-request.js"></script>
    <script src="~/js/request/unit-request.js"></script>
    <script src="~/js/request/factory-request.js"></script>

}
